<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>學生專注度分析辨識系統</title>
    
    </head>
    <body>
        
        <div style="width: 1440px; height: 1024px; position: relative; background: white">
            <img style="width: 182px; height: 173px; left: 629px; top: 425px; position: absolute; box-shadow: 0px 4.352941036224365px 27.64117431640625px rgba(0, 0, 0, 0.25); border-radius: 43px" src="C:\Users\蕭絜心\Desktop\html_css\臉.png" />
            <a href="Thome.html">
            <button style="width: 209px; height: 73px; left: 1193px; top: 46px; position: absolute; background: #D9D9D9; border-radius: 16px"></button>
            <div style=" width: 81px; height: 19px; left: 1257px; top: 73px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Outfit; font-weight: 600; text-transform: capitalize; line-height: 26px; letter-spacing: 0.80px; word-wrap: break-word">結束</div>
            </a>
            <button style="width: 209px; height: 73px; left: 1193px; top: 141px; position: absolute; background: #D9D9D9; border-radius: 16px"></button>
            <div style=" width: 81px; height: 19px; left: 1257px; top: 168px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Outfit; font-weight: 600; text-transform: capitalize; line-height: 26px; letter-spacing: 0.80px; word-wrap: break-word">暫停</div>
          </div>
        

    </body>
    </html>