<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>學生專注度分析辨識系統</title>
    </head>
    <body>
        <div style="width: 1440px; height: 1024px; position: relative; background: #CBCADA">
            <div style="width: 756px; height: 520px; left: 341px; top: 252px; position: absolute; background: #ECEBEB"></div>
            <div style="width: 396px; height: 42px; left: 522px; top: 353px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 781; line-height: 45px; letter-spacing: 1px; word-wrap: break-word">學生專注度辨識系統登入</div>
            
            <a href="/Tinput">
            <button style="width: 176px; height: 197px; left: 510px; top: 488px; position: absolute; background: #D9D9D9; box-shadow: 0px 0px 14.699999809265137px 4px rgba(0, 0, 0, 0.13) inset; border-radius: 27px"></button>
            <div style="width: 100px; height: 64px; left: 548px; top: 554px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 781; line-height: 34px; letter-spacing: 4px; word-wrap: break-word">我是<br/>教師</div>
            </a>
            <a href="/Sinput">
            <button style="width: 176px; height: 197px; left: 742px; top: 488px; position: absolute; background: #D9D9D9; box-shadow: 0px 0px 14.699999809265137px 4px rgba(0, 0, 0, 0.13) inset; border-radius: 27px"></button>
            <div style="width: 100px; height: 64px; left: 780px; top: 554px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 781; line-height: 34px; letter-spacing: 4px; word-wrap: break-word">我是<br/>學生</div>
            </a>
            <div style="left: 598px; top: 183px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 781; line-height: 45px; letter-spacing: 1px; word-wrap: break-word">選擇登入身份</div>
          </div>
    </body>
</html>