<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>學生專注度分析辨識系統</title>
  </head>
  <body>
    <div style="width: 1440px; height: 1024px; position: relative; background: #CBCADA">
        <div style="width: 756px; height: 520px; left: 342px; top: 240px; position: absolute; background: #ECEBEB"></div>
        <a href="web.html">
        <button style="width: 154px; height: 85px; left: 643px; top: 609px; position: absolute; background: #DCA967; box-shadow: 0px 0px 14.699999809265137px 4px rgba(0, 0, 0, 0.13) inset; border-radius: 17px"></button>
        <div style="left: 658px; top: 629px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 781; line-height: 45px; letter-spacing: 2px; word-wrap: break-word">回首頁</div>
        </a>
        <div style="width: 461px; height: 143px; left: 490px; top: 411px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Inter; font-weight: 781; line-height: 45px; letter-spacing: 1px; word-wrap: break-word">註冊成功 請重新登入</div>
      </div>

  </body>
  </html>