<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>學生專注度分析辨識系統</title>
  </head>
  <body>
    <div style="width: 1440px; height: 1024px; position: relative; background: #CBCADA">
        <div style="width: 222px; height: 297px; left: 79px; top: 588px; position: absolute">
          <div style="width: 222px; height: 297px; left: 0px; top: 0px; position: absolute; background: #DCA967; box-shadow: 0px 4px 43.52941131591797px rgba(22.69, 22.69, 22.69, 0.10); border-radius: 22.85px"></div>
          <img style="width: 182px; height: 173px; left: 20px; top: 17px; position: absolute; box-shadow: 0px 4.352941036224365px 27.64117431640625px rgba(0, 0, 0, 0.25); border-radius: 43px" src="C:\Users\teohz\uni_project\flask\templates\chat.png" />
          <div style="width: 138.21px; height: 52.34px; left: 42px; top: 224px; position: absolute; text-align: center; color: #090A09; font-size: 32px; font-family: Outfit; font-weight: 600; text-transform: capitalize; line-height: 26.12px; word-wrap: break-word">鼓勵訊息</div>
        </div>
        <div style="width: 222px; height: 297px; left: 365px; top: 589px; position: absolute">
          <div style="width: 222px; height: 297px; left: 0px; top: 0px; position: absolute; background: #657BA6; box-shadow: 0px 4.352939605712891px 43.5294075012207px rgba(0, 0, 0, 0.10); border-radius: 22.85px"></div>
          <div style="width: 206px; height: 52px; left: 8px; top: 223px; position: absolute; text-align: center; color: #090A09; font-size: 32px; font-family: Montserrat; font-weight: 781; text-transform: capitalize; line-height: 35px; word-wrap: break-word">歷史紀錄<br/>報告分析</div>
          <img style="width: 182px; height: 173px; left: 20px; top: 21px; position: absolute; box-shadow: 0px 4.352941036224365px 27.64117431640625px rgba(0, 0, 0, 0.25); border-radius: 43px" src="C:\Users\teohz\uni_project\flask\templates\paper.jpg" />
        </div>
        <div style="width: 1440px; height: 211px; left: 0px; top: -25px; position: absolute">
            <div style="width: 1440px; height: 211px; left: 0px; top: 0px; position: absolute">
            <div style="width: 274.33px; height: 158px; left: 0px; top: 0px; position: absolute; background: rgba(88, 88, 88, 0.69)"></div>
            <div style="width: 1165.67px; height: 158px; left: 274.33px; top: 0px; position: absolute; background: rgba(183, 183, 183, 0.63)"></div>
            <div style="width: 260px; height: 250px; left: 0px; top: 39px; position: absolute; text-align: center; color: #121212; font-size: 40px; font-family: Montserrat; font-weight: 781; line-height: 50px; word-wrap: break-word">學生專注度<br/>辨識系統</div>
            
          </div>
          <div style="width: 1032.02px; height: 27.64px; left: 341px; top: 76px; position: absolute; justify-content: center; align-items: flex-start; gap: 602.01px; display: inline-flex">
            <div style="width: 300.10px; height: 27.64px; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                <div style="width: 52px; height: 52px; justify-content: center; align-items: center; display: flex">
                <img style="width: 52px; height: 52px; border-radius: 9999px" src="C:\Users\teohz\uni_project\flask\templates\tku.png" />
              </div>
              <div style="width: 112px; height: 52px;padding-left: 100px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; background: rgba(240, 240, 240, 0); justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style=" position: absolute; text-align: center; color: #151515; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">學生專區</div>
              </div>
              <div style="width: 112px; height: 52px;padding-left: 100px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; background: rgba(240, 240, 240, 0); justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style=" position: absolute; text-align: center; color: #151515; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">教師專區</div>
              </div>
              <div style="width: 112px; height: 52px;padding-left: 100px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; background: rgba(240, 240, 240, 0); justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style=" position: absolute; text-align: center; color: #151515; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">心靈專區</div>
              </div>
              <div style="width: 112px; height: 52px;padding-left: 100px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; background: rgba(240, 240, 240, 0); justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style=" position: absolute; text-align: center; color: #151515; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">FAQs</div>
              </div>
            </div>
            <div style="width: 129.91px; height: 27.641px; justify-content: flex-end; align-items: flex-start; gap: 20px; display: inline-flex">
            <a href="/web">
                <button style="padding-left: 20px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; background: white; justify-content: center; align-items: center; gap: 10px; display: flex">
                    <div style="text-align: center; color: #151515; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">登出</div>
            </a>
            </button>
            </div>
          </div>
        </div>
      </div>
  </body>
  </html>