<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>學生專注度分析辨識系統</title>
  </head>
  <body>
  <div style="width: 1440px; height: 3008px; position: relative; background: #CBCADA">
    <div style="width: 725px; height: 268px; left: 405px; top: 2085px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32.34px; display: inline-flex">
      <div style="width: 210.12px; height: 57.33px; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">#詳細學習報告</div>
      <div style="width: 725px; height: 178.33px; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">系統會生成詳細的學習報告，幫助教師了解學生專注程度。提供專注力數據的圖表分析，幫助制定更有效的教學計劃。</div>
    </div>
  <div style="width: 222px; height: 297px; left: 96.77px; top: 2064.01px; position: absolute">
    <div style="width: 222px; height: 297px; left: 0px; top: 0px; position: absolute; background: #657BA6; box-shadow: 0px 4.352939605712891px 43.5294075012207px rgba(0, 0, 0, 0.10); border-radius: 22.85px"></div>
    <div style="width: 184px; height: 52px; left: 18.23px; top: 220.99px; position: absolute; text-align: center; color: #090A09; font-size: 32px; font-family: Montserrat; font-weight: 781; text-transform: capitalize; line-height: 35px; word-wrap: break-word">歷史紀錄<br/>報告分析</div>
    <img style="width: 182px; height: 173px; left: 20px; top: 21px; position: absolute; box-shadow: 0px 4.352941036224365px 27.64117431640625px rgba(0, 0, 0, 0.25); border-radius: 43px" src="C:\Users\蕭絜心\Desktop\html_css\分析圖.jpg" />
  </div>
  <div style="width: 724.59px; height: 280.47px; left: 405.44px; top: 1665.68px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 33.84px; display: inline-flex">
    <div style="width: 210px; height: 60px; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">#及時偵測模式</div>
    <div style="width: 724.59px; height: 186.63px; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">透過先進的人臉辨識和狀態辨別技術，我們的系統能夠實時監控學生的專注狀態，並即時紀錄數據。</div>
  </div>
  <div style="width: 222px; height: 297.47px; left: 96.77px; top: 1648.68px; position: absolute">
    <div style="width: 222px; height: 297.47px; left: 0px; top: 0px; position: absolute; background: #DCA967; box-shadow: 0px 4px 43.52941131591797px rgba(22.69, 22.69, 22.69, 0.10); border-radius: 22.85px"></div>
    <img style="width: 182px; height: 173px; left: 20px; top: 17px; position: absolute; box-shadow: 0px 4.352941036224365px 27.64117431640625px rgba(0, 0, 0, 0.25); border-radius: 43px" src="C:\Users\蕭絜心\Desktop\html_css\臉.png" />
    <div style="width: 138.21px; height: 52.34px; left: 42px; top: 224px; position: absolute; text-align: center; color: #090A09; font-size: 32px; font-family: Outfit; font-weight: 600; text-transform: capitalize; line-height: 33px; word-wrap: break-word">臉部偵測<br/>模式</div>
  </div>
  <div style="width: 178.20px; height: 51.22px; left: 630.90px; top: 1515.29px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">教師模式</div>
  <div style="width: 1168.50px; height: 229.18px; left: 125.89px; top: 1120.11px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; line-height: 50px; word-wrap: break-word">在課堂上，學生的專注力狀態常常會影響到教師的教學情況，專注度數據分析提供客觀評估，透過數據得知或許在某些時間點，學生整體的專注力會下滑，這樣便能透過這些數據改善自身授課的情形，減少課堂管理壓力，以提供更高質量的教育，幫助學生實現最佳學習成果。</div>
  <div style="width: 1440px; height: 0px; left: 0px; top: 1023px; position: absolute; border: 1px black solid"></div>
  <div style="width: 802px; height: 469px; left: 55px; top: 216px; position: absolute">
    <div style="left: 513px; top: 409px; position: absolute; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">#個性化建議</div>
    <div style="left: 268px; top: 409px; position: absolute; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">#詳細學習報告</div>
    <div style="width: 210px; height: 60px; left: 18px; top: 409px; position: absolute; color: black; font-size: 32px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">#及時偵測模式</div>
    <div style="width: 347px; height: 57px; left: 95px; top: 176px; position: absolute; color: black; font-size: 24px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">提升學習效果，掌握專注狀態</div>
    <div style="width: 802px; height: 409px; left: 0px; top: 0px; position: absolute; color: black; font-size: 128px; font-family: Mplus 1p Bold; font-weight: 700; line-height: 200px; word-wrap: break-word">學生專注度<br/>分析辨識系統</div>
  </div>
  <div style="width: 1440px; height: 121px; left: 0px; top: 4px; position: absolute; background: #ECECEC"></div>
  <a href="/login">
  <button style="width: 62px; height: 51px; left: 1250px; top: 39px; position: absolute; color: black; font-size: 20px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">登入</button>
  </a>
  <a href="/register">
  <button style="width: 62px; height: 51px; left: 1321px; top: 39px; position: absolute; color: black; font-size: 20px; font-family: Imprima; font-weight: 400; line-height: 50px; word-wrap: break-word">註冊</button>
  </a>
</div>
</body>
</html>